header{
    text-align: center;
    font-size: 25px;
    border: lightseagreen 5px groove;
    margin-top: -5px;
    font-family:cursive;
    border-radius: 20px;
}
.quiz-container{
    border: black 3px solid;
    margin-top: 30px;
    border-radius: 20px;
}
.questions{
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
}
.options{
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    margin-top: 10px;
}
body{
    background-image: url(backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#next{
    margin-left: 730px;
    margin-top: 20px;
    background-color: lightblue;
    font-size: 20px;
    margin-bottom: 25px;
}